// COLORS
:root {
  --color-black: #303030;
  --color-white: #fff;

  --color-deep-sapphire: #061f61;
  --color-royal-blue: #4f64db;
  --color-purple-heart: #6238b9;
  --color-moody-blue: #7e77d5;
  --color-turquoise: #49dbc9;
  --color-froly: #f4628c;
  --color-tango: #f2722c;
}
